body {
    background-color: rgba(255, 7, 255, 0.596);
    
    
    
    }
    header{
        border: 0;
        background-color: rgba(9, 255, 0, 0.692);
        padding: 2;
        color: rgb(0, 0, 0);
    }

a{
font-size: x-large;    
}


    
    
   
